body {
	font: arial;
	font-size: 16px;
}

h1 {
	font: arial;
	font-size: 25px;
	text-align: center;
}

#login {
	margin: 0 auto;
	width: 15%;
	border: solid black 2px;
	text-align: center;
}

label {
	display: block;
}

submit {
	display: block;
	margin: 0 auto;
	border: solid black 1px;
	text-align: center;
}

a:visited, a:link {
    color: #999999;   
}

form {
	margin: 0 auto;
	text-align:center;
}