body {
	font: arial;
	font-size: 16px;
}

h1 {
	font: arial;
	font-size: 25px;
	text-align: center;
}

#wrapper {
	width:90%;
	margin:0 auto;
}

#header {
	text-align: center;
}

#content {
	
}



#nav_bar {
	text-align: center;
	background-color: #222222;
	color: #999999;
	font-size: 20px;
	height: 25px;
}

#nav_bar li {
    list-style-type: none;
	display: inline;
	padding-right: 170px;
}

a {
    text-decoration: none;
}

a:visited, a:link {
    color: white;
}

a:hover {
	
}